#indepth_cover {
	background: url(../images/Portada_Wibe.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #000;
	width: auto;
	position: relative;
}

.indepth_content {
	position: relative;
	width: 960px;
	height: 100%;
	margin: auto;
}

#logo {
	position: absolute;
	width: 415px;
	height: 150px;
	margin: auto;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

#content {
	height: 1146px;
	width: auto;
	margin: auto;
	background-color: #ffffff;
}

.text_content {
	width: 960px;
	height: 175px;
	position: relative;
	margin: auto;
	margin-top: 100px;
}

.gif {
	width: 150px;
	height: auto;
	margin-right: 45px;
	display: inline-block;
	float: left;
	position: relative;
    top: 15px;
}

.gif img {
	border-radius: 75px;
}

#middle_text {
	width: 760px;
	display: inline-block;
	float: left;
	position: relative;
	top: 40px;
}

.text {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #a3bfbb;
	display: inline-block;
	float: left;
	width: 760px;
	font-weight: 800;
}

.text span {
	font-size: 22px;
	color: #81919b;
	font-family: 'Open Sans', sans-serif;
	line-height: 28px;
	font-weight: 400;
}

#ejecucion {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #a3bfbb;
	margin: auto;
	position: relative;
	top: 115px;
	width: 130px;
}

#indepth_line {
	position: relative;
	top: 130px;
	padding: 10px;
	border-bottom: solid #81919b 1px;
}

#indepth_text {
	position: relative;
	color: #81919b;
	font-family: 'Open Sans', sans-serif;
	width: 75px;
}

#indepth_text i {
	color: #a3bfbb;
	margin-right: 5px;
}

#tour {
	width: 640px;
	height: 360px;
	position: relative;
	margin: auto;
}

#final {
	height: 530px;
	width: 100%;
	background-color: #5a726f;
}

#resultados {
	position: relative;
	top: 50px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	color: #a3bfbb;
	width: 160px;
	font-size: 24px;
	font-weight: 800;
}

#resulta_content {
	width: 705px;
	height: 280px;
	margin: auto;
	position: relative;
	top: 100px;
}

.content_data {
	width: 160px;
	height: 310px;
	display: inline-block;
	float: left;
	margin-right: 115px;
}

.data_img img {
	border-radius: 75px;
}

.data_img {
	margin-bottom: 25px;
}

.data_number {
	width: 160px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 54px;
	font-weight: 800;
	margin: auto;
	text-align: center;
}

.data_name {
	width: 154px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	margin: auto;
	text-align: center;
}

#content_data {
	width: 155px;
	height: 310px;
	display: inline-block;
	float: left;
}	

@media(max-width: 960px) {
	.indepth_content {
	    width: 750px;
	}

	.text_content {
	    width: 750px;
	    height: 205px;
	    margin-top: 40px;
	}

	.gif {
		margin-right: 20px;
		width: 100px;
		position: relative;
    	top: 10px;
	}

	.gif img {
		width: 100px;
	}

	#middle_text {
    width: 600px;
    top: 20px;
	}

	.text {
		width: 600px;
	}

	#tour img {
		width: 750px;
	}

	#tour {
		width: 750px;
		height: 422px;
	}

	#content {
    	height: 1178px;
	}
}

@media(max-width: 770px) {
	.indepth_content {
    	width: 550px;
    }

    .text_content {
	    width: 550px;
	    height: 290px;
    	margin-top: 0px;
	}

	#middle_text {
    	width: 430px;
    	top: 35px;
	}

	.text {
		width: 430px;
	}

	#tour img {
		width: 550px;
	}

	#content {
    	height: 1145px;
	}

	#ejecucion {
		top: 50px;
	}

	#indepth_line {
		top: 60px;
	}

	#tour {
		width: 550px;
		height: 309px;
	}

	#resulta_content {
    	width: 550px;
	}

	.content_data {
		margin-right: 37px;
	}

	.gif {
		top: 65px;
	}
}

@media(max-width: 570px) {
	.indepth_content {
    	width: 400px;
    }

    .text_content {
	    width: 400px;
	    height: 400px;
	}

	#ejecucion {
		top: 50px;
	}

	#indepth_line {
		top: 60px;
	}

	#middle_text {
    	width: 400px;
    	top: 0px;
	}

	.text {
		width: 400px;
		position: relative;
    	top: 70px;
	}

	#tour img {
		width: 400px;
	}

	#tour {
		width: 400px;
		height: 225px;
	}

	#content {
    	height: 1180px;
	}

	#resulta_content {
    	width: 400px;
    	height: 190px;
	}

	.content_data {
		margin-right: 50px;
		width: 100px;
		height: 190px;
	}

	#content_data {
		width: 100px;
		height: 190px;
	}

	.gif {
		left: 145px;
		margin-right: 0px;
	}

	.text span {
		font-size: 17px;
	}

	.data_img img {
		width: 100px;
	}

	.data_img {
		width: 100px;
		margin: auto;
	}

	.data_number {
		font-size: 34px;
		width: 100px;
	}

	.data_name {
		width: 100px;
		font-size: 16px;
	}

	#final {
    	height: 400px;
	}
}

@media(max-width: 430px) {
	.indepth_content {
    	width: 300px;
    }

    .text_content {
	    width: 300px;
	    height: 455px;
	}

	#middle_text {
    	width: 300px;
    	top: 0px;
	}

	.text {
		width: 300px;
		position: relative;
    	top: 70px;
	}

	#ejecucion {
		top: 50px;
	}

	#indepth_line {
		top: 60px;
	}

	#tour img {
		width: 300px;
	}

	#tour {
		width: 300px;
		height: 169px;
	}

	#resulta_content {
    	width: 300px;
    	height: 190px;
	}

	.content_data {
		margin-right: 30px;
		width: 80px;
		height: 190px;
	}

	#content_data {
		width: 80px;
		height: 190px;
	}

	.gif {
		left: 100px;
		margin-right: 0px;
	}

	.text span {
		font-size: 16px;
	}

	.data_img img {
		width: 80px;
	}

	.data_img {
		width: 80px;
		margin: auto;
	}

	.data_number {
		font-size: 27px;
		width: 80px;
	}

	.data_name {
		width: 80px;
		font-size: 12px;
	}

	#final {
    	height: 400px;
	}

	#logo img {
		width: 300px
	}

	#logo {
		width: 300px;
		height: 110px;
	}

	#content {
    	height: 1240px;
	}
}